# =============== #
# Unity generated #
# =============== #
IP2 Game Project/[Tt]emp/
IP2 Game Project/[Oo]bj/
IP2 Game Project/[Bb]uild
IP2 Game Project/[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
*.dwlt
IP2 Game Project/UnityVS.IP2 Game Project.CSharp.csproj
*.dwlt
IP2 Game Project/Library/UnityAssemblies/UnityEditor.dll
IP2 Game Project/Library/UnityAssemblies/version.txt
*.sln
IP2 Game Project/IP2 Game Project.sln
*.csproj
IP2 Game Project/UnityVS.IP2 Game Project.CSharp.csproj
